:root {
    --primary-color: #28A17D;
    --secondary-color: #3165A0;
    --tertiary-color: #F4AC3C;
    --complement-color: #F47D3C;
    --grey-bkg: #e2e8f0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
        "sidebar nav"
        "sidebar main-content";
    font-family: 'Lato', sans-serif;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--primary-color);
    color: white;
}

.sidebar li {
    list-style: none;
}

nav {
    grid-area: nav;
    display: grid;
    grid-template-rows: 3rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "search profile"
        "menu menu";
    padding: 18px 32px;
}

nav .searchbar {
    grid-area: search;
    border: none;
    background: var(--grey-bkg);
    border-radius: 3rem;
    padding: 3px 8px;
}

nav .profile {
    grid-area: profile;
}

nav .user {
    display: flex;
}

nav .menu {
    grid-area: menu;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.menu .welcome {
    display: flex;
}

.menu .actions ul {
    display: flex;
    list-style: none;
}

.menu .actions li {    
    padding: 0 1rem;
}

main {
    grid-area: main-content;
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 16px;
    padding: 12px;
}

main .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px
}
